* {
    margin: 0;
    padding: 0;
}

.header{
    background-color:#1F2937;
    color: purple;
    display: flex;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    padding: 0;
        }
.hero {
    color:blue;
}
    
.header .headerlist {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    text-align: right;
    margin-right: 1em 5;
    padding-right: 24%;
    color:yellow
}

.SecondSection{
background-color:#1F2937;
color: white;
padding: 75px;
}

h1{
    text-align: center;
    align-content: center;
}

.blue-box {
    width: 150px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}

.row-of-blue-divs {
    display: flex;
    justify-content: space-evenly;
}
.blue-text{
    color: purple
}
