.header{
    background-color:#1F2937;
    color: purple;
    display: flex;
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    padding-left: 0%;
        }
.hero {
    color:blue;
}
    
.header .headerlist {
    font-size: 48px;
    text-align: right;
    padding-left: 6%;
    color:red
}